header {
  height: 100px !important;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav {
  clear: both;
  color: rgb(0,0,0);
  background-color: rgb(255,255,255);
  height: 30px;
  margin-bottom: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(120,47,64);
  style="border-style: solid;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

nav li {
  display: inline;
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(206, 184, 136);
}

.active {
  background-color: rgb(206, 184, 136);
  color: black;
}

img.far-top-right {
  float: right;
  margin-bottom: 10px;
}

img.top-right {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

img.medium {
  width: 80px;
  height: 80px;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 5px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(120,47,64);
   color: white;
   text-align: center;
   border-style: solid;
   border-color: rgb(0, 0, 0);
}


