header {
  height: 100px !important;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav {
  clear: both;
  color: rgb(0,0,0);
  background-color: rgb(255,255,255);
  height: 30px;
  margin-bottom: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(120,47,64);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

nav li {
  display: inline;
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(206, 184, 136);
}

.active {
  background-color: rgb(206, 184, 136);
  color: black;
}

img.far-top-right {
  float: right;
  margin-bottom: 10px;
}

img.top-right {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

img.small {
  width: 284px;
  height: 504px;
  border: 5px solid rgb(0,0,0);
}

img.medium {
  width: 80px;
  height: 80px;
}

.containers{
  width: 100%;
  height: 100vh;
  background-image: url(images/ocean.jpeg);
  background-position: center;
  background-size: cover;
}

img.Boat {
  display: block;
  margin: 0px auto;
}

.column{
  colum-count: 5;
  colum-gap: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
  vertical-align: middle;
}

.boat{
  column-count: 2;
  column-rule-style: solid;
  column-rule-color: rgb(120,47,64);
}
  

