header {
  height: 100px !important;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav {
  clear: both;
  color: rgb(0,0,0);
  background-color: rgb(255,255,255);
  height: 30px;
  margin-bottom: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(120,47,64);
  style="border-style: solid;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

nav li {
  display: inline;
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(206, 184, 136);
}

.active {
  background-color: rgb(206, 184, 136);
  color: black;
}

img.far-top-right {
  float: right;
  margin-bottom: 10px;
}

img.top-right {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

img.small {
  width: 284px !important;
  height: 504px !important;
  border: 5px solid rgb(0,0,0);
}

img.medium {
  width: 80px;
  height: 80px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  background-color: rgb(120,47,64);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
