header {
  height: 100px !important;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav {
  clear: both;
  color: rgb(0,0,0);
  background-color: rgb(255,255,255);
  height: 30px;
  margin-bottom: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(120,47,64);
  style="border-style: solid;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

nav li {
  display: inline;
  float: left;
}

.timeline ul {
  list-style: none;
}

.timeline ul li{
  padding: 20px:
  background-color: black;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child{
  margin-bottom: 0;
}

nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(206, 184, 136);
}

.active {
  background-color: rgb(206, 184, 136);
  color: black;
}

img.far-top-right {
  float: right;
  margin-bottom: 10px;
}

img.top-right {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

img.small {
  width: 284px;
  height: 504px;
  border: 5px solid rgb(0,0,0);
}

img.medium {
  width: 80px;
  height: 80px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(120,47,64);
   color: white;
   text-align: center;
   border-style: solid;
   border-color: rgb(0, 0, 0);
}

.cointainer{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #101010;
}

.timeline{
  widthe: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
  
